* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6rem;
    /* margin-bottom: 14rem; */
    margin-top: 1px;
    background: -webkit-linear-gradient(15deg, hsla(194, 45%, 40%, 1) 66%, hsla(178, 38%, 59%, 1) 100%);
    /* height: 40rem; */
    gap: 1.5rem;
    border-radius: 0px 0px 50px 50px;
    overflow-x: hidden;
    z-index: 0;
    /* position: relative; */
    /* width: 100vw;
    margin: auto; */
    /* width: 100vw; */
}


.hero-text {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    z-index: 0;

}

.hero-text h2
{
    font-size: 40pt;
    color: #fff;
    padding-bottom: 1rem;
}

.hero-text p {

    color: rgb(141, 196, 214);
    padding: 1rem;
    font-size: 18pt;
}

.hero-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px, 0rem, 5rem, 0rem;
    width: 50rem;
    gap: 1rem;
    height: 5rem;
    text-align: center;
    z-index: 0;
}

.hero-input img {
    height: 2rem;
    width: auto;
    padding-left: 1rem;
}

.hero-input input {
    margin: none;
    height: 3rem;
    border: none;
    width: 18rem;
    font-size: 15pt;

}

.hero-input input::placeholder {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
}

.hero-input button {
    background-color: rgb(141, 196, 214);
    border: none;
    border-radius: 50px;
    width: 6rem;
    height: 2.5rem;
    color: #fff;
}

.dot {
    height: 20rem;
    color: #fff;
    background-color: rgb(141, 196, 214);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.images
{
    display: flex;
    flex-direction: row;
    font-family: 'Manrope', sans-serif;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 29rem;
    font-family: "Manrope", sans-serif;
    padding-bottom: 2rem;
    gap: 3rem;
    z-index: 4;
    position: absolute;
    width: 100vw;
    top: 0;
}

.images a
{
    text-decoration: none;
}

.hero1
{
    /* background: -webkit-linear-gradient(15deg, hsla(194, 45%, 40%, 1) 66%, hsla(178, 38%, 59%, 1) 100%); */
    top: 1;
    position: relative;
    width: 98.7vw;
    height: 50vh;
}

.pictures
{
    background-color: hsla(178, 38%, 59%, 1);
    /* position: relative; */
    height: 35rem;
    width: 98.7vw;
    border-radius: 0px 0px 50px 50px;
}

#webs
{
    width: 22rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    background-color: #fff;
    box-shadow: 1rem, 1rem;
    border-radius: 25px;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    /* padding: 1rem,1rem; */
}

.images h4
{
    color: #111;
    /* padding: 1rem,1rem; */
    padding-top: 2rem;
    font-size: 18pt;
    /* padding-left: 2rem; */
}

.images p
{
    color: #111;
    /* padding: 3rem, 3rem; */
    padding-top: .25rem;
    /* padding-left: 2rem; */
    padding-bottom: 2rem;
}

.imag
{
    width: 38rem;
    text-align: left;
    gap: 1rem;
    background-color: hsla(194, 45%, 40%, 1);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding-left: 2rem;
    overflow-x: hidden;
}

.imag:hover
{
    transform: translateY(2px);
}

.imag p
{
    color: #fff;
}

.imag h4
{
color: #fff;
}

.imag button
{
    display: flex;
    margin: none ;
    border: none;
    height: 3rem;
    border-radius: 25px;
    width: 9rem;
    text-align: center;
    background-color: rgb(141, 196, 214);
}

.imag button p
{
    padding: 10px 0px 0px 30px;
    margin: 0;
}

.imag2 .buttons
{
    display: flex;
    flex-direction: row;
    width: 3rem;
    height: 1rem;
}

.imag2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 11rem;
}

.imag2 .text
{
    display: flex;
    flex-direction: row;
}

.imag2 .text h6
{
    font-family: "Manrope", sans-serif;
    color: #fff;
    padding-right: 1rem;
    font-size: 14pt;
}

.imag2 .text .buttons
{
    display: flex;
    gap: 1rem;
    width: 2rem;
    height: 2rem;
}

.imag2 .text .buttons button
{
    width: 2rem;
    height: 1rem;
}

.imag2 .text .buttons image
{
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 720px)
{
    
    .hero-text h2
    {
        font-size: 35pt;
    }
    
    .hero-text p {
        font-size: 16pt;
    }
    
    .hero-input {
        padding: 5px;
        width: 30rem;
    }
    
    .hero-input img {
        height: 2rem;
        width: auto;
        padding-left: 1rem;
    }
    
    .hero-input input {
        margin: none;
        height: 3rem;
        border: none;
        width: 25rem;
        font-size: 15pt;
    
    }
    
    .hero-input input::placeholder {
        color: black;
        font-family: 'Manrope', sans-serif;
        font-size: 15pt;
    }
    
    .hero-input button {
        background-color: rgb(141, 196, 214);
        border: none;
        border-radius: 50px;
        width: 6rem;
        height: 2.5rem;
        color: #fff;
    }
    
    .dot {
        height: 20rem;
        color: #fff;
        background-color: rgb(141, 196, 214);
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    
    .images
    {
        display: flex;
        flex-direction: column;
        font-family: 'Manrope', sans-serif;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    .images a
    {
        text-decoration: none;
    }
    
    .hero1
    {
        /* background: -webkit-linear-gradient(15deg, hsla(194, 45%, 40%, 1) 66%, hsla(178, 38%, 59%, 1) 100%); */
        top: 1;
        position: relative;
        width: 98.7vw;
        height: 30rem;
    }
    
    .pictures
    {
        background-color: hsla(178, 38%, 59%, 1);
        /* position: relative; */
        height: 60rem;
        width: 98.7vw;
        border-radius: 0px 0px 50px 50px;
    }
    
    #webs
    {
        padding: 2rem;
        width: 25rem;
        text-decoration: none;
        display: flex;
        /* padding: 1rem,1rem; */
    }

    #webs img
    {
        width: 28rem;
        height: auto;
    }

    #webs:hover
    {
        transform: translateY(1px);
    }
    
    .images h4
    {
        color: #111;
        /* padding: 1rem,1rem; */
        padding-top: 2rem;
        font-size: 18pt;
        /* padding-left: 2rem; */
    }
    
    .images p
    {
        color: #111;
        /* padding: 3rem, 3rem; */
        padding-top: .25rem;
        /* padding-left: 2rem; */
        padding-bottom: 2rem;
    }
    
    .imag
    {
        width: 25rem;
        text-align: left;
        gap: 1rem;
        /* background-color: rgba(0, 0, 255, 0.5); */
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
        padding-left: 2rem;
        overflow-x: hidden;
    }
    .imag p
    {
        color: #fff;
    }
    
    .imag h4
    {
    color: #fff;
    }
    
    .imag button
    {
        display: flex;
        margin: none ;
        border: none;
        height: 3rem;
        border-radius: 25px;
        width: 9rem;
        text-align: center;
        background-color: rgb(141, 196, 214);
    }
    
    .imag button p
    {
        padding: 10px 0px 0px 30px;
        margin: 0;
    }
    
    .imag2 .buttons
    {
        display: flex;
        flex-direction: row;
        width: 3rem;
        height: 1rem;
    }
    
    .imag2
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 11rem;
    }
    
    .imag2 .text
    {
        display: flex;
        flex-direction: row;
    }
    
    .imag2 .text h6
    {
        font-family: "Manrope", sans-serif;
        color: #fff;
        padding-right: 1rem;
        font-size: 14pt;
    }
    
    .imag2 .text .buttons
    {
        display: flex;
        gap: 1rem;
        width: 2rem;
        height: 2rem;
    }
    
    .imag2 .text .buttons button
    {
        width: 2rem;
        height: 1rem;
    }
    
    .imag2 .text .buttons image
    {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 520px)
{
    .hero-text h2
    {
        font-size: 24pt;
    }
    
    .hero-text p {
        font-size: 12pt;
    }
    
    .hero-input {
        padding: 4px;
        width: 22rem;
    }
    
    .hero-input img {
        height: 1.5rem;
        width: auto;
        padding-left: 1rem;
    }
    
    .hero-input input {
        margin: none;
        height: 2rem;
        border: none;
        width: 20rem;
        font-size: 12pt;
    
    }
    
    .hero-input input::placeholder {
        color: black;
        font-family: 'Manrope', sans-serif;
        font-size: 12pt;
    }
    
    .hero-input button {
        background-color: rgb(141, 196, 214);
        border: none;
        border-radius: 50px;
        width: 9rem;
        font-size: 10pt;
        height: 2.5rem;
        color: #fff;
    }
    
    .dot {
        height: 10rem;
        color: #fff;
        background-color: rgb(141, 196, 214);
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    
    .images
    {
        display: flex;
        flex-direction: column;
        font-family: 'Manrope', sans-serif;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .images a
    {
        text-decoration: none;
    }
    
    .hero1
    {
        /* background: -webkit-linear-gradient(15deg, hsla(194, 45%, 40%, 1) 66%, hsla(178, 38%, 59%, 1) 100%); */
        top: 1;
        position: relative;
        width: 100vw;
        height: 30rem;
    }
    
    .pictures
    {
        /* background-color: hsla(178, 38%, 59%, 1); */
        /* position: relative; */
        height: 45rem;
        width: 100vw;
        border-radius: 0px 0px 50px 50px;
    }
    
    #webs
    {
        padding: 2rem;
        width: 18rem;
        text-decoration: none;
        display: flex;
        /* padding: 1rem,1rem; */
    }

    #webs img
    {
        width: 25rem;
        height: auto;
    }

    #webs:hover
    {
        transform: translateY(.5px);
    }
    
    .images h4
    {
        color: #111;
        /* padding: 1rem,1rem; */
        padding-top: 1rem;
        font-size: 16pt;
        /* padding-left: 2rem; */
    }
    
    .images p
    {
        color: #111;
        font-size: 12pt;
        /* padding: 3rem, 3rem; */
        padding-top: .25rem;
        /* padding-left: 2rem; */
        padding-bottom: 2rem;
    }
    
    .imag
    {
        width: 18rem;
        text-align: left;
        gap: 1rem;
        background-color: hsla(194, 45%, 40%, 1);
        border-radius: 25px;
        padding-left: 2rem;
        overflow-x: hidden;
    }
    .imag p
    {
        color: #fff;
        font-size: 12pt;
    }
    
    .imag h4
    {
    color: #fff;
    font-weight: 16pt;
    }
    
    .imag button
    {
        display: flex;
        margin: none ;
        border: none;
        height: 3rem;
        border-radius: 25px;
        width: 9rem;
        font-size: 12pt;
        text-align: center;
        background-color: rgb(141, 196, 214);
    }
    
    .imag button p
    {
        padding: 10px 0px 0px 30px;
        margin: 0;
    }
    
    .imag2 .buttons
    {
        display: flex;
        flex-direction: row;
        width: 3rem;
        height: 3rem;
        align-items: center;
    }
    
    .imag2
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 6rem;
    }
    
    .imag2 .text
    {
        display: flex;
        flex-direction: row;
        padding-right: 0;
    }
    
    .imag2 .text h6
    {
        font-family: "Manrope", sans-serif;
        color: #fff;
        /* padding-right: 1rem; */
        font-size: 12pt;
    }
    
    .imag2 .text .buttons
    {
        display: flex;
        gap: 1rem;
        width: 2rem;
        height: 2rem;
    }
    
    .imag2 .text .buttons button
    {
        width: 2rem;
        height: 1rem;
    }
    
    .imag2 .text .buttons image
    {
        width: 2rem;
        height: 2rem;
    }
}